@import "./utils/variables";

.App {
  padding: 20px;

  &__main-section {
    display: flex;
    border-bottom: 1px solid rgba($color: #686868, $alpha: 0.2);
  
    @media(max-width: $breakpoint-3) {
      flex-direction: column;
    }
  }

  &__new-product-section {
    padding-top: 50px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-bottom: 30px;
    width: 75%;
    max-height: 60vh;
    overflow-y: scroll;
  
    @media(max-width: $breakpoint-2) {
      width: 60%;
    }
  
    @media(max-width: $breakpoint-3) {
      width: 100%;
    }
  }
}

.uah {                                    // override bulma class "is-rounded"
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.usd {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
